:root{
    --primary-color:#007BFF;
    --success-color:#28A745;
    --error-color:#DC3545;
    --info-color:#17A2B8;
    --warning-color: #FFC107;
}

.error-badge,.primary-badge,.success-badge,.info-badge,.warning-badge{
    width: fit-content;
    padding: 0.2rem;
    border-radius: 6px;
    margin: 0.1rem;
    font-size: 14px;
}
.error-badge{
    background-color: var(--error-color);
    color: #fff;
}
.primary-badge{
    color: #fff;
    background-color: var(--primary-color);
}
.success-badge{
    color: #fff;
    background-color: var(--success-color);
}
.info-badge{
    color: #fff;
    background-color: var(--info-color);
}
.warning-badge{
    color: #fff;
    background-color: var(--warning-color);
}

/* avatar badge */
.inactive-badge{
    background-color: #EDA11A;
    border: 2px solid #fff;
}
.active-badge{
    background-color: #42B782;
    border: 2px solid #fff;
}

.small-avatar-container,.medium-avatar-container,.large-avatar-container{
    position: relative;
    width: max-content;
}

.small-avatar-container .inactive-badge{
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    bottom: 0.5px;
    right: 2px;
}
.small-avatar-container .active-badge{
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    bottom: 0.5px;
    right: 2px;
}
.medium-avatar-container .inactive-badge{
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    bottom: 2px;
    right: 2px;
}
.medium-avatar-container .active-badge{
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    bottom: 2px;
    right: 2px;
}
.large-avatar-container .inactive-badge{
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    bottom: 2px;
    right: 3px;
}
.large-avatar-container .active-badge{
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    bottom: 2px;
    right: 3px;
}
