:root{
    --bar-color: #2563EB;
}
.nav-bar{
    display: flex;
    background-color: var(--bar-color);
    color: #fff;
    padding: 1rem 1rem 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}
.list-items{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list-items li:hover{
    cursor: pointer;
}

.list-items li{
    padding: 0.3rem 2em;
}

.nav-wrapper-2,.nav-wrapper-3{
    display: flex;
    padding: 1rem 1rem 1rem 3rem;
    align-items: center;
    background-color: var(--bar-color);
    color: #fff;
}
.nav-wrapper-3{
    justify-content: space-between;
    padding: 1rem 3rem;
}
.nav-wrapper-3 .logoAndList-container,.nav-wrapper-4 .logoAndList-container{
    display: flex;
    align-items: center;
}
.nav-wrapper-3 .search-wrapper{
    width: max-content;
}
.search-wrapper_input{
    border: none;
    padding: 0.2rem 1rem;
    outline: 2px solid #F472B6;
}
.search-wrapper{
    position: relative;
}
.search-wrapper .fa-search{
    position: absolute;
    top: 0.35rem;
    right: 0.6rem;
    color: grey;
}