@media only screen and (max-width: 635px) {
    .about-container{
        width: 100%;
    }
    .nav-wrap{
        width: 100%;
    }
    .brand-logo{
        margin-left: -2rem;
        font-size: 25px;
    }
    .nav-list-container{
        margin-left: 2rem;
    }
    .nav-list-container li{
        margin-left: -1rem;
        font-size: 12px;
    }
    .current{
        margin-left: 1rem;
        font-size: 14px;
        margin-right: 1rem;
    }
    footer{
        margin-left: 0;
        width: 100%;
    }
    .what-wrap{
        width: 90%;
        margin-left: 1.3rem;
    }
    .how-wrap{
        width: 90%;
        margin-left: 1.3rem;
    }
}