



@media only screen and (max-width: 635px) {
    .nav-wrap{
        width: 66.6em;
    }
    footer{
        position: absolute;
        width: 63.6em;
        bottom: -75em;
    }
    .what-wrap{
        padding-left: 1rem;
    }
    .how-wrap{
        padding-left: 1rem;
    }
    .how-wrap iframe{
        padding-left: 1rem;
    }
}