<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Component Library</title>
</head>
<body>
    <!-- Avatar -->
    <div>
        <img class="avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <img class="mid-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <img class="large-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
    </div>
    <hr/>
    <br/>
    <!--Alert  -->
    <div>
        <div class="alert-primary">This is primary alert</div>
        <div class="alert-error">This is error alert</div>
        <div class="alert-success">This is success alert</div>
        <div class="alert-info">This is info alert</div>
        <div class="alert-warning">This is warning alert</div>
    </div>
    <hr/>
    <br/>
    <!-- Badge -->
    <div>
        <div class="alert-primary"><span class="primary-badge">primary</span>This is primary alert</div>
        <div class="alert-error"><span class="error-badge">error</span>This is error alert</div>
        <div class="alert-success"><span class="success-badge">success</span>This is success alert</div>
        <div class="alert-info"><span class="info-badge">info</span>This is info alert</div>
        <div class="alert-warning"><span class="warning-badge">warning</span>This is warning alert</div>
    </div>
    <!-- Avatar badge -->
    <div class="small-avatar-container">
        <img class="avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="inactive-badge"></div>
    </div>
    <div class="small-avatar-container">
        <img class="avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="active-badge"></div>
    </div>
    <div class="medium-avatar-container">
        <img class="mid-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="inactive-badge"></div>
    </div>
    <div class="medium-avatar-container">
        <img class="mid-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="active-badge"></div>
    </div>
    <div class="large-avatar-container">
        <img class="large-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="inactive-badge"></div>
    </div>
    <div class="large-avatar-container">
        <img class="large-avatar" src="img/emil-widlund-63XLTQplNlg-unsplash.jpg">
        <div class="active-badge"></div>
    </div>
    <hr/>
    <br/>
    <!-- butttons -->
    <div>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-info">Info</button>
        <button class="btn btn-link">Link</button>
        <button class="btn btn-icon"><i class="far fa-address-book"></i></button>
        <button class="btn btn-float"><i class="fas fa-minus"></i></button>
        <br/>
        <button class="btn btn-outline-primary">Primary</button>
        <button class="btn btn-outline-success">Success</button>
        <button class="btn btn-outline-danger">Danger</button>
        <button class="btn btn-outline-warning">Warning</button>
        <button class="btn btn-outline-info">Info</button>
        <br>
        <button class="btn btn-large">Large</button>
    </div>
    <hr/>
    <br>
    <!-- nav bar -->
    <div class="nav-bar">
        <div class="Logo">Logo</div>
        <div>
            <ul class="list-items">
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
    <br>
    <nav class="nav-wrapper-2">
      <div class="Logo">LOGO.</div>
      <div>
        <ul
          class="list-items"
        >
          <li>Home</li>
          <li>Profile</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </nav>
    <br>
    <nav class="nav-wrapper-3">
      <div class="logoAndList-container">
        <div class="logo">LOGO.</div>
        <div class="list-centered">
          <ul  class="list-items">
            <li>Home</li>
            <li>Profile</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="search-wrapper">
        <input
          class="search-wrapper_input"
          type="text"
          placeholder="Search"
        />
        <span><i class="fas fa-search"></i></span>
      </div>
    </nav>
    <hr/>
    <br>
    <!-- list -->
    <ul class="list-non-bullet">
        <li>Home</li>
        <li>Profile</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <ul class="list-non-bullet list-flex">
        <li>Home</li>
        <li>Profile</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <ul class="list-non-bullet list-stack">
        <li>Home</li>
        <li>Profile</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    <hr/>
    <br/>
    <!-- text-util -->
    <div>
        <h1>Heading</h1>
        <h2>Heading</h2>
        <h3>Heading</h3>
        <h4>Heading</h4>
        <h5>Heading</h5>
        <h6>Heading</h6>
        <p class="italic-element centered-text">Hello <span class="strong-element underline-element">My name is</span><span class="mark">Kunal</span></p>
    </div>
    <hr/>
    <br>
    <!-- input -->
    <div class="input-group-prepend">
        <span class="input-group-text basic-addon1">@</span>
        <input class="input-field" type="text" placeholder="enter username">
    </div>
    <br/>
    <div class="input-group-prepend">
        <span class="input-group-text medium-size basic-addon-1" >medium</span>
        <input
          class="input-field medium-size"
          type="text"
          placeholder="Username"
        />
      </div>
      <br />
  
      <div class="input-group-prepend">
        <span class="input-group-text large-size basic-addon-1" >large</span>
        <input
          class="input-field large-size"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="sign-up">
        <div>
          <input type="text" id="first_name" name="first_name" required placeholder=" First Name" class="input-group-text input-field"/>
          <label for="first_name"></label>
        </div>
        
        <div>
          <input type="text" id="last_name" name="last_name" required placeholder=" Last Name" class="input-group-text input-field"/>
          <label for="last_name"></label>
        </div>
        
        <div>
          <input type="email" id="email" name="email" required placeholder="Email Address" class="input-group-text input-field"/>
          <label for="email"></label>
          <div class="requirements">
            Must be a valid email address.
          </div>
        </div>
        
        <div>
          <input type="password" id="password" name="password" required placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"class="input-group-text input-field" />
          <label for="password"></label>
          <div class="requirements">
            Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
          </div>
        </div>
        
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>
      <br />
      <hr/>
      <!--  Toasts-->
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">NameOfLib</strong>
          <small>11 mins ago</small>
          <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
      <hr/>
      <br/>
      <!--Rating  -->
      <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <hr/>
      <br>
      <!--Modal  -->
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="toast-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <br/>
      <!-- cards -->
      <div class="grid">
        <div class="card" >
          <img class="card-img-top" src="https://via.placeholder.com/286" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-primary">Go somewhere</button>
          </div>
        </div>

        <div class="card" >
          <div class="card-body shadow">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card" >
          <div class="img-header">
            <img class="card-img-top" src="https://via.placeholder.com/286" alt="Card image cap">
            <button class="card-close close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="primary-badge">New</span> 
          </div>
          <div class="card-body" style="margin: -0.3rem 0 0 0;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-primary">Go somewhere</button>
          </div>
        </div>

        <div class="card" >
          <div class="img-header">
            <img class="card-img-top" src="https://via.placeholder.com/286" alt="Card image cap">
            <p class="overlay">Text overlay</p>
          </div>
          <div class="card-body" style="margin: -0.3rem 0 0 0;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-primary">Go somewhere</button>
          </div>
        </div>

        <div class="card" >
          <div class="img-header">
            <img class="card-img-top" src="https://via.placeholder.com/286" alt="Card image cap">
            <span class="primary-badge">New</span> 
          </div>
          <div class="card-body" style="margin: -0.3rem 0 0 0;">
            <h5 class="card-title">Shirt</h5>
            <p class="card-text">Cotton T-shirt.</p>
            <span>
              <span class="strong-element">Rs.900</span>
              <span class="line">Rs.1500</span>
              <span style="color: #FF0052;">(40% OFF)</span>
            </span>
          </div>
        </div>
    </div>
</body>
</html>